/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

$colorText: #121212;
$colorBtn: #E4C1AE;

body {
    color: $blue;
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}
.mar-top-1{
    margin-top: 1px;
}
/*img.res-img {
    width: 100%;
    height: 100%;
}*/
.bg-img{  
    min-height: 408px;
    background-size: cover;
}

.block-text {

    .btn{
        &.custom-btn{
            background-color: $colorBtn;
            border: 2px solid $colorBtn;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            padding: 12px;
            max-width: 135px;
            width: 100%;
            border-radius: 45px;
            text-align: center;
            margin-bottom: 69px;

            &:hover{
                background-color: $white;
                color: $colorBtn;
            }
        }
    }
    h1{
        font-weight: bold;
        color: $colorText;
        font-size: 42px;
        margin-bottom: 0;
    }
    p{
        margin-top: 43px;
        line-height: 26px;
        font-size: 16px;
        margin-bottom: 35px;
        color: $colorText;
    }
    margin: 0px 110px;
    padding-top: 86px;
}

@media(max-width: 1200px) {
    .block-text{
        margin: 0px 50px;
    }
  }
@media(max-width: 767px) {
    .block-text{
        padding-top: 50px;
    }
}
@media(max-width: 465px) {
    .block-text{
        h1{
            font-size: 40px;
        }
        margin: 0px 30px;
    }
}