body{
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}
.block-text{
    margin: 0px 110px;
    padding-top: 86px;
}
.mar-top-1{
    margin-top: 1px;
}
/*img.res-img {
    width: 100%;
    height: 100%;
}*/

.bg-img{
    
    min-height: 408px;
    background-size: cover;
}
.btn.custom-btn{
    background-color: #E4C1AE;
    border: 2px solid #E4C1AE;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    max-width: 135px;
    width: 100%;
    border-radius: 45px;
    text-align: center;
    margin-bottom: 69px;
}
.btn.custom-btn:hover{
    color: #E4C1AE;
    background-color: #fff;
}
.block-text h1{
    font-weight: bold;
    color: #121212;
    font-size: 42px;
    margin-bottom: 0;
}
.block-text p{
    margin-top: 43px;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 35px;
    color: #121212;
}

@media(max-width: 1200px) {
    .block-text{
        margin: 0px 50px;
    }
  }
  @media(max-width: 767px) {
    .block-text{
        padding-top: 50px;
    }
}
  @media(max-width: 465px) {
    .block-text{
        margin: 0px 30px;
    }
    .block-text h1{
        font-size: 40px;
    }
  }