{# Variables:
    - title
    - box
        - title
        - content
        - images_default
            - large | medium | small
                - url
                - width
                - height
        - images
            - url
            - width
            - height
#}

{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-md-6 pl-0 pr-0 text-center bg-img" style="background-image: url('assets/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1400.jpg');">
    </div>

    <div class="col-md-6 bg-white pl-0 pr-0 mar-top-1" >
      <div class="block-text">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipis scing elit. Pellentesque ac nisi felis. Suspendisse ut
          finibus augue.</p>
        <button type="button" class="float-right btn custom-btn" data-toggle="modal" data-target="#exampleModalCenter">
            Button
        </button>

      </div>
    </div>
  </div>


{#
<h1>{{ title }}</h1>
<h2>{{ box.title }}</h2>
<p>{{ box.content }} </p>

<!-- Display all named images -->
{% for size, image in box.images_default %}
<figure style="display: inline-block">
    <img src="{{ image.url }}" alt="" style="max-width: 250px">
    <figcaption>Image size: {{ size }}, {{ image.width }}x{{ image.height }}px</figcaption>
</figure>
{% endfor %}
<hr>
<!-- Display all images -->
{% for key, image in box.images %}
<figure style="display: inline-block">
    <img src="{{ image.url }}" alt="" style="max-width: 250px">
    <figcaption>Image key: {{ key }}, {{ image.width }}x{{ image.height }}px</figcaption>
</figure>
{% endfor %} 
#}

{% endblock %}

{% block modal %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipis scing elit. 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}